@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
  background: #54AFFE;
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0;
}

#banner {
  background: url("memphis-mini.png");
  height: 400px;
  overflow: hidden;
}

#menu {
  background: black;
  height: 45px;
  left: 0;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transition: 1s;
  width: 100%;
}
    
li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}

#menu a {
  border: 1px solid transparent;
  color: white;
  padding: 0 10px;
  text-decoration: none;
  transition: 0.3s;
}

#menu a:hover {
  border: 1px solid white;
  color: gray;
}
